@import "./header";
@import "./footer";
@import "./banner";
@import "./novelty";
@import "./goals";
@import "./home-about";
@import "./loader";
@import "./counter";
@import "./leftSideBar";
@import "./filter";
@import "./filterList";
@import "./filter-price";
@import "./multiRangeSlider";
@import "./select";
@import "./product";
@import "./product-list";
@import "./productSlider";
@import "./payment-method";

@import "./ui/input";
@import "./ui/checkbox";
@import "./ui/radioButton";
@import "./ui/form-input";
@import "./ui/form-textarea";
@import "./ui/form-select";

@import "modals";

.List {
  border: 1px solid #d9dddd;
}

.ListItemEven,
.ListItemOdd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ListItemEven {
  background-color: #f8f8f0;
}