@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@font-face{
  font-family: 'Adigiana2';
  src: url('/fonts/adigiana2.woff') format('woff'),
  url('/fonts/adigiana2.ttf') format('ttf'),
  url('/fonts/adigiana2.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}