.ui-input {
  width: 100%;
  max-width: 220px;
  padding: 5px 14px;
  background: #FFFFFF;
  border: 1px solid #CFF69B;
  border-radius: 10px;
  font-family: 'Adigiana2';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
}